[ConnectionSettings]
REDIS_URL= localhost
HASH = sensor_data
CITY_PREFIX =  dublin_ways

[SensorsAvailable]
sensor1 = Noisetube

[Noisetube]
# The text that will appear in the web app page indicating the weighing options. The user can choose between fastest, shortest (which are supported by GH but only fastest is
#implemented in the web app). Given available sensor data, the user can also choose to maximize, minimize sensor data;i.e LeastNoisy for the Noisetube sensor.
text = Least_Noisy 

# Type of sensor readings; e.g. noise, air...etc. To be used to in naming the hashes, such as city_type_set. That's important to be able to retrieve the relevant readings  of the
#relevant city from Graphhooper during routing calculation
type = noise


# URL where the webservice that retrieves data from sensors is located
url = http://noisetube.net/users/3099/fetch

# Name of the parser inside module 'sensorparsers' that can parse data returned 
# by the webservice_url above
parser = sensorparsers.create_noise_sensor_hash

# Name of the aggregator inside module 'aggregators' that can aggregate 
# data for this particular sensor
aggregator = aggregators.exponential_weighted_moving_average

# Directory where the sensor parser stores the aggregated data
dirname = sensor_readings/noise/

# Specifies the filepattern which much be globbed. Globbing is done in almost 
# the same manner as the unix shell. '*' and '?' will work as wildcard 
# characters. [] can be used to express character ranges as well. However, dot 
# files are not matched by default, using '*'. If we need to match dot files, 
# then we need to specify something like '.sensor*.xml' [note the explicit dot 
# in the beginning]
filepattern = *.xml

# The number of metres where the sensor's readings propagate to
propagation = 50

# The number of days that aggregation filter will take into consideration
days = 3



